In [1]:
# 在鐵達尼資料集中，今天我們專注觀察變數之間的相關性，以 Titanic_train.csv 中，首先將有遺失值的數值刪除，並回答下列問題。
import pandas as pd
import numpy as np 

df_train = pd.read_csv("Titanic_train.csv")

In [2]:
# Q1：透過數值法計算 Age 和 Survived 是否有相關性？

# 先把 Survived 轉成 Survived_cate

df_train["Survived_cate"] = df_train["Survived"]
df_train["Survived_cate"] = df_train["Survived_cate"].astype("object")

print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    891 non-null    int64
 1   Survived       891 non-null    int64
 2   Pclass         891 non-null    int64
 3   Name           891 non-null    object
 4   Sex            891 non-null    object
 5   Age            714 non-null    float64
 6   SibSp          891 non-null    int64
 7   Parch          891 non-null    int64
 8   Ticket         891 non-null    object
 9   Fare           891 non-null    float64
 10  Cabin          204 non-null    object
 11  Embarked       889 non-null    object
 12  Survived_cate  891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB
None

In [3]:
# age 數值型，survived_cate 類別型，所以採用 Eta Squared 來計算相關性

# 把缺失值刪除
complete_data = df_train[["Age","Survived_cate"]].dropna()
display(complete_data)

      Age Survived_cate
0    22.0             0
1    38.0             1
2    26.0             1
3    35.0             1
4    35.0             0
..    ...           ...
885  39.0             0
886  27.0             0
887  19.0             1
889  26.0             1
890  32.0             0

[714 rows x 2 columns]

In [ ]:
# !pip install pingouin

In [7]:
# 要用到 ANOVA

import pingouin as pg

aov = pg.anova(dv="Age", between = "Survived_cate", data = complete_data, 
               detailed = True)

display(aov)

          Source             SS   DF          MS         F     p-unc       np2
0  Survived_cate     897.187582    1  897.187582  4.271195  0.039125  0.005963
1         Within  149559.448362  712  210.055405       NaN       NaN       NaN

In [10]:
EtaSq = aov.SS[0]/(aov.SS[0]+aov.SS[1])
print(EtaSq)

0.0059630974469252

In [ ]:
# Q2：透過數值法計算 Sex 和 Survived 是否有相關性？

In [ ]:
# Q3：透過數值法計算 Age 和 Fare 是否有相關性？